<!-- FUENTE TITULO -->
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/ttnorms-black" type="text/css" />
<!-- FUENTE DETALLE -->
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/iosevka-extended" type="text/css" />

<!-- SPLASH -->
<div class="contenedor">
  <div class="titulo">
    <P>Bustamante,<br>Mathias Andrés</P>
  </div>
  <div class="conLogo">
    <div class="logo"></div>
  </div>
  <div class="detalle">
    <P>PPS - 4ºB</P>
  </div>
</div>