ion-content {
    --ion-background-color: transparent;
    background-color: white;
}

.contenedor {
    background-color: white;
    margin-top: 5%;
    justify-items: center;
}

.login {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}